h1 {
  text-align: center;
  color: #262626;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
main section a {
  text-decoration: none;
  padding: 8px;
  color: #4c9c89;
  display: block;
  margin-bottom: 10px;
}
main section a:hover {
  color: #f0f0f0;
  transition: 1s;
}

main section ul {
  list-style-type: none;
}

body {
  display: flex;
  background-color: #f0f0f0;
}

main {
  width: 1083px;
}

html {
  scroll-behavior: smooth;
}

i {
  color: white;
}

ul {
  padding: 0;
}

.top-bar {
  width: 233px;
  background-color: #1a1a1a;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .top-bar {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .top-bar {
    width: 130px;
  }
}
@media screen and (max-width: 768px) {
  .top-bar {
    width: 100px;
  }
}
.top-bar img {
  width: 230px;
  height: 230px;
  border-radius: 100%;
}
@media screen and (max-width: 1200px) {
  .top-bar img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 992px) {
  .top-bar img {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 768px) {
  .top-bar img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .top-bar {
    background-color: #f0f0f0;
  }
}
.top-bar .menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 1200px) {
  .top-bar .menu {
    width: 200px;
  }
}
@media screen and (max-width: 992px) {
  .top-bar .menu {
    width: 130px;
  }
}
@media screen and (max-width: 768px) {
  .top-bar .menu {
    display: none;
    flex-direction: column;
    background-color: #1a1a1a;
    width: 100px;
  }
  .top-bar .menu.active {
    display: flex;
  }
}
.top-bar .menu li {
  text-align: center;
  margin: 10px 0;
}
.top-bar .menu li a {
  display: block;
  width: 100%;
  padding: 10%;
  text-decoration: none;
  color: #4c9c89;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
}
.top-bar .menu li a:hover {
  color: #f0f0f0;
}
.top-bar .menu li a:focus {
  outline: none;
}
.top-bar .toggle-btn {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #4c9c89;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .top-bar .toggle-btn {
    display: block;
    margin: 10px auto;
  }
}

.bloc {
  margin: 0 auto 0 233px;
  justify-content: center;
}

section {
  padding: 2rem;
  background-color: #1a1a1a;
  border-bottom: #f0f0f0 solid 10px;
  animation: reveal;
  animation-timeline: view();
  animation-range-start: cover(0);
  animation-range-end: contain(0%);
  box-shadow: 2px black;
}
@media screen and (max-width: 1200px) {
  section {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  section {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }
}
section h1 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  color: #4c9c89;
  text-transform: uppercase;
  @import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Playwrite+MX+Guides&display=swap");
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}
@media screen and (max-width: 992px) {
  section h1 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    color: #4c9c89;
    text-transform: lowercase;
  }
}
section h2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 400px;
  color: #bfbfbf;
  text-transform: uppercase;
  @import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Playwrite+MX+Guides&display=swap");
  font-family: "Agu Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "MORF" 0;
}
section p {
  font-size: 20px;
  line-height: 20px;
  font-weight: 100;
  color: whitesmoke;
  @import url(https://signstd.com/product/elagra/);
  font-family: elagra;
}
section form {
  color: #4c9c89;
}
section:first-child {
  border-top-left-radius: 25px;
}
section:last-child {
  border-bottom-right-radius: 25px;
  margin-bottom: 300px;
}
section .bloc-1 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-1:hover {
  background-color: azure;
}
section .bloc-2 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-2:hover {
  background-color: azure;
}
section .bloc-3 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-3:hover {
  background-color: azure;
}
section .bloc-4 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-4:hover {
  background-color: azure;
}
section .bloc-5 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-5:hover {
  background-color: azure;
}
section .bloc-6 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-6:hover {
  background-color: azure;
}
section .bloc-7 {
  display: block;
  padding: 2rem;
  background-color: #4c9c89;
  margin: auto;
  border-radius: 20px;
  cursor: pointer;
}
section .bloc-7:hover {
  background-color: azure;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.me-contacter {
  display: flex;
  flex-wrap: wrap;
}
.me-contacter li a {
  color: azure;
}
.me-contacter li a:hover {
  color: rgb(178.5, 178.5, 178.5);
}

/*# sourceMappingURL=style.css.map */
