h1{
    text-align: center;
    color: $title-color;
}
@keyframes reveal{
    from{
        opacity: 0;
        transform:scale(0);
    }
    to {
        opacity: 2;
        transform:scale(1);
    }
}