.bloc{
    margin:0 auto 0 $top-bar-width ;
    justify-content: center;
    
}
section{
    padding: 2rem;
    background-color: #1a1a1a; 
    border-bottom: $body-background solid 10px;
    animation: reveal;
    animation-timeline: view();
    animation-range-start: cover(0);
    animation-range-end: contain(0%);
    @include respond-to ('medium'){
        width:100%;
    }
    @include respond-to ('tablette'){
        width:100%;
    }
    @include respond-to ('mobile'){

        width:100%;
    }
    box-shadow: 2px black;
    h1{
        @include font-size-color(35px,40px,400,$primary-color,true);
        @import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Playwrite+MX+Guides&display=swap');
        font-family: "Agu Display", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "MORF" 0;
        @include respond-to ('tablette'){
            @include font-size-color(18px,18px,600,$primary-color,false);
        }
    }
    h2{
        @include font-size-color(20px,25px,400px,$section-background,true);
        @import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Playwrite+MX+Guides&display=swap');
        font-family: "Agu Display", serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings:
            "MORF" 0;
    }
    p{ font-size: 20px;
        line-height: 20px;
        font-weight: 100;
        color: whitesmoke;
       
        @import url(https://signstd.com/product/elagra/);
        font-family: elagra;
    }
    form{
        color: $primary-color;
    }
    &:first-child{
        border-top-left-radius: 25px;
       
    }
    &:last-child{
        border-bottom-right-radius: 25px;
        margin-bottom: 300px;
    }
    @for $i from 1 through 7{
        .bloc-#{$i}{
            display: block;
            padding: 2rem;
            background-color: $primary-color;
            margin: auto;
            border-radius: 20px;
            cursor: pointer;
            &:hover{
                background-color: azure;
            }
        }
    }
}
.skills{
    display: flex;
    flex-wrap: wrap;
}
.me-contacter{
    display: flex;
    flex-wrap: wrap;
    li a {
        color: azure;;
        &:hover{
            color: darken(white,30%);
        }
    }
    
    }